body {
    @include NotoSans(400);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;

    span {
        @include Roboto(500);
    }
}

.header {
    h1 {
        @include Roboto;
        font-size: 80px;
        line-height: 106px;
        border-bottom: 2px solid #000;
        margin-bottom: 48px;
        margin-top: 37px;
        padding-bottom: 3px;
    }

    img {
        margin-bottom: 48px;
    }
}

.profile {
    margin-bottom: 72px;
    @include titleStyle;

    p {
        font-size: $content;
        margin-bottom: 24px;
        line-height: 36px;
    }
}

.education {
    margin-bottom: 72px;
    @include titleStyle;

    p {
        font-size: $content;
        margin-bottom: 24px;
        line-height: 36px;
    }
}

.skill {
    padding-bottom: 36px;
    background: #415165;

    .container {
        color: white;

        h2 {
            justify-content: center;
            text-align: center;
            font-size: $second-title;
            padding-top: 24px;
            padding-bottom: 8px;
            border-bottom: 1px solid #96A9C4;
            margin-bottom: 37px;
            font-weight: bold;

            & span {
                font-size: $content;
                padding-left: 16px;
            }
        }
    }

    .items {
        width: 200px;
        margin: 0 auto;
        font-size: $content;
        line-height: 1;
        padding-left: 24px;
        border-left: 1px solid #96A9C4;

        & li {
            margin-bottom: 19px;
            @include Roboto(300);
        }
    }
}

.work {
    margin-top: 72px;
    padding-bottom: 48px;

    .work-list {
        line-height: 1;
        padding-left: 24px;
        border-left: 1px solid #96A9C4;
        margin-left: 24px;
    }

    @include titleStyle;

    h3 {
        font-size: $content;
        margin-bottom: 24px;
        line-height: 36px;
    }

    p {
        width: 642px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    .inclueImg {
        margin-bottom: 8px;
    }
}

.footer {
    background: #415165;
    color: white;
    text-align: center;
    padding-bottom: 36px;

    h2 {
        justify-content: center;
        font-size: $second-title;
        padding-bottom: 8px;
        border-bottom: 1px solid #96A9C4;
        margin-bottom: 16px;
        padding-top: 24px;
        padding-bottom: 14px;

        & span {
            font-size: $content;
            padding-left: 16px;
            font-weight: bold;
        }
    }

    li {
        @include Roboto(300);
        margin-bottom: 16px;

        & a {
            color: white;
            text-decoration: none;
            font-size: $content;
        }
    }

    a {
        margin-right: 24px;
        text-decoration: none;
    }
}